{
  "name": "__APP_NAME__",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "obix dev",
    "build": "obix build",
    "check": "obix check"
  },
  "dependencies": {
    "obix-core": "^0.3.0"
  },
  "devDependencies": {
    "obixjs": "^0.3.0",
    "typescript": "^5.7.2"
  }
}
